.searchBoxContainer {
  display: flex;
  justify-content: center; /* Центрує елементи по горизонталі */
  max-width: 300px;
  margin: 20px auto; /* Центрує контейнер по горизонталі */
  box-sizing: border-box;
}

.searchInput {
  width: 100%; /* Забезпечує, що поле вводу займає всю ширину контейнера */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}
