.searchBoxContainer {
  display: flex;
  justify-content: center; 
  max-width: 300px;
  margin: 20px auto;
  box-sizing: border-box;
}

.searchInput {
  width: 100%; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}
